<div class="container">
    <div class="section row">
        <div class="col-md-6">
            <h3 class="headline headline--beta">Got a talk idea? We want to see it!</h3>
            <p>
WordCamp Europe is looking for speakers. Want to take to the stage in Paris to talk WordPress with up to 3000 people? Got a story to tell? Some knowledge to share? Got some fancy tricks or techniques? We want to hear from you.
            </p>
<p>We're looking for 24 long talks and 16 lightning talks that cover the whole range of topics that represent the WordPress ecosystem. We want talks that appeal to developers, designers, bloggers, business owners, site builders, translators, community organisers, and everything in between. 
Stuck for talk ideas? Check out our <a href="http://apply.wp-europe.org/ideas">list of topics.</a></p>
        </div>
        <div class="col-md-6">
            <h3 class="headline headline--beta">Format and Application Process</h3>
            <p>
              Talks will take the following format:
              <ul>
				<li>Long talks - 45 minutes in total, breaking down to around 30 mins for talk & 15 mins for questions. 24 long talks.
</li>
				<li>Lightning talks - 10 minutes each, 45 minutes per session. 16 Lightning talks.</li>
			</ul> 
			These are the key dates you need to know:
			<ol>
				<li> 27th January 2017 - Call for speakers closes </li>
				<li>30th January 2017 - 28th February 2017 - speaker selection process.</li>
				<li>Early March - speakers informed</li>
				</li>End of March - speaker announcements begin</li>
			</ol>
                <p><a href="{{ url('speaker_package') }}">Read more about the speaker selection process. 
</a></p>
            </p>
        </div>
    </div>
</div>

<section class="section section--primary">
    <div class="container">
        <h2 class="headline headline--beta headline--centered">Diversity Matters!</h2>
        <p>
        WordCamp Europe is committed to creating a diverse conference that is representative of the WordPress community. We welcome submissions from a diverse set of backgrounds, and particularly applications from under-represented groups in tech.
		</p>
        <p>
        As a community-focused event, it's important that we create a space where old friends can get together, new relationships can be forged, ideas exchanged, and everyone feels comfortable. Harassment in any form will not be tolerated. This includes any harassing activity from speakers, sponsors, volunteers, or attendees. We reserve the right to remote, without refund, any attendee who does not adhere to our <a href="https://2017.europe.wordcamp.org/code-of-conduct/">code of conduct</a>. 
		</p>
    </div>
</section>
