{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">Talk Ideas</h2>
    <p>
    The WordPress ecosystem encompasses a broad range of topics. If you are stuck for ideas, here are some topics that we think the WordCamp Europe audience will enjoy:
	</p>

	<p>
	Development
    <ul>
        <li>Case studies of big media or enterprise websites</li>
        <li>Internationalisation</li>
        <li>Scaling & performance</li>
        <li>Security</li>
        <li>Front-end technologies including JavaScript</li>
        <li>Working with the Customizer</li>
        <li>Working with taxonomies & terms</li>
        <li>Automated testing (unit/end-to-end)</li>
        <li>The WordPress REST API</li>
        <li>Turning your plugin into a business</li>
        <li>Development tools, including dev environments, dependencies, and deployment</li>
    </ul>
	</p>
	<p>	
		Building websites with WordPress
		<ul>
			<li>Best practices when building WordPress websites</li>
			<li>Guide to choosing themes/plugins</li>
			<li>Security 101</li>
		</ul>
	</p>
	<p>
		Design
		<ul>
			<li>Theme design</li>
			<li>User interface design</li>
			<li>Typography</li>
		</ul>
	</p>
	<p>
		Business	
		<ul>
			<li>Going from freelancing to building a team</li>
			<li>Dealing with clients</li>
			<li>EU website/internet law</li>
			<li>Pricing</li>
		</ul>
	</p>
	<p>
		Community
		<ul>
			<li>Contributing as a non-coder</li>
			<li>Diversity/inclusion</li>
		</ul>
	</p>
	<p>
		Content
		<ul>
			<li>Content strategy </li>
			<li>Blogging/writing</li>
		</ul>
	</p>
	<p>
		Other
		<ul>
			<li>Mental health & well-being</li>
			<li>Open source & licensing</li>
			<li>Translations (non-technical aspects)</li>
			<li>Accessibility</li>
		</ul>
	</p>
	<p>Note that this list is not exhaustive, but is just there to spark your imagination.</p>
</div>
{% endblock %}

