{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">Speaker Selection Process</h2>
    <p>
    This year we're taking a slightly different approach to speaker selection. As usual, we have a team of people who are managing speakers. This team will be reviewing all applications and we'll be putting together the final schedule.
	</p>
	<p>
	However, we're enlisting some help: WordCamp Europe is an event for the WordPress community, so we're inviting teams of community representatives to help us review the applications.
	</p>
	<p>
	Speaker selection panels will be asked to review different categories. We'll have panels for Development, Design, Business, and Community. We also have an "Other" category for those that don't quite fit.
	</p>
	<p>
		Here's how the process will work:	
	</p>
    <h4 class="headline--alpha">1. Blind Vote</h4>
    <p>
nels for each category will conduct a blind vote on the applications. They will receive titles, blurbs, and any other information that doesn’t identify the applicant. The panels will be asked to vote Yes, No, or Maybe for each of the applications.
	
They will be asked to review applications on the following criteria:

<ul>
	<li>
Is this a subject that is relevant to the WCEU audience?
	</li>
	<li>Has the applicant created a compelling pitch? </li>
	<li>Has the applicant completed all of the requested information?</li>
	<li>Does the applicant display good knowledge of the subject matter?</li>
	<li>Will the applicant be able to cover all of their proposed content in the time slot?</li>
</ul>
	
Note that just because an application gets a Yes at this stage it doesn’t mean that they are guaranteed to speak. What this does is help us to identify the best applications in terms of the content, guiding us in the final decision.

The members of the speaker selection panels are all European, all active in the WordPress community, and experts in their field. We're looking forward to the guidance that they provide the speaker selection team with and hope that they'll help us narrow down the huge number of applications.

	</p>
    <h4 class="headline--alpha">2. Speaker team review</h4>
    <p>
    The speaker team will review the highest ranking applications as voted by the various panels. At this point we will be looking beyond content to create the final schedule. We will be looking at:
	<ul>
		<li>Quality and experience of speaker</li>
		<li>How the topic fits into the overall schedule</li>
		<li>Relevance for the WCEU audience</li>
		<li>Speaker roster diversity</li>
	</ul>
	</p>

    <h4 class="headline--alpha">3. Final proposal to WCEU team</h4>
    <p>
	The speakers team will propose the final speaker roster and schedule to the WCEU team who will have an opportunity to comment and make suggestions. They will have a few days to make comments and suggestions.
    </p>
	<h4 class="headline--alpha">4. Contact successful candidates</h4>
	<p>The speakers team will contact the successful applicants. We will do this before contacting people who haven't been successful. This is because some applicants may no longer be able to make the event, so we will be able to go back to the pool of applicants if they are unable to make it.
</p>
</div>
{% endblock %}
